.stock-card-container {
    padding-top: 8em;
    position: relative;
    width: 25em;
    height: 30em;
    margin: 1em auto;

    transition: 150ms;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0));

    perspective: 1000px;
}

.stock-card {
    height: 100%;
    width: 100%;

    transform-style: preserve-3d;

    position: relative;

    border-radius: 10px;
    border:5px solid white; 

    user-select: none;
}

.front, .back {
    height: 100%;
    width: 100%;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 5em;
    color: white;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front {
    background-color: aquamarine;
}

.back {
    background-color: chocolate;
    transform: rotateY(180deg);
}


/*Animation styles*/

.flip-exit {
    transform: rotateY(0deg);
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 300ms;
    transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
}

.flip-exit-done {
    transform: rotateY(180deg);
}

.flip-enter {
    transform: rotateY(180deg);
}

.flip-enter-active {
    transform: rotateY(0deg);
    transition: transform 300ms;
    transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
}

.flip-enter-done {
    transform: rotateY(0deg);
}

/*Front Card Inner Stylings*/
.stockName {
    background-color: blueviolet;
    width: 100%;
    height: 18%;
    display: block;
    position: absolute;
    top: 0;
    padding-top: 2.5%;
    margin: 0;
    line-height: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.stockName > h1 {
    font-size: 0.6em;
    padding: 0;
    margin: 0;
}
.stockName > h2 {
    font-size: 0.25em;
    padding: 0;
    margin: 0;
}

    /*Styling for each data box -- Will have seperate positioning based on which one*/
.dataBox {
    background-color: brown;
    font-size: 0.5em;

    position: absolute;
    padding: 0;
    margin-top: 5%;

    width: 42.5%;
    height: 20%;

    line-height: 0.3em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dataBox > p {
    font-size: 0.5em;
}

.openPrice {
    top: 18%;
    left: 5%;
}

.closePrice {
    top: 18%;
    right: 5%;
}

.change {
    top: 40%;
    left: 5%;
}

.percentChange {
    top: 40%;
    right: 5%;
}

.volume {
    font-size: 0.45em;
    top: 62%;
    left: 5%;
}

.highlow {
    top: 62%;
    right: 5%;
}

.details {
    background-color: blueviolet;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;

    font-size: 0.4em;
    line-height: 0;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
}

.details > p {
    margin-top: 0.75em;
    padding: 0;
}